
<div class="content_left content_two_thirds">	
	<h1 class="user_title">My Photos</h1>
	<div id="container">
		<h2>My Photos</h2>
		<% if @photos.any? %>

			<%= will_paginate @photos %>
			  <% @photos.each do |photo| %>
			    <div class="photo">
			      <%= link_to image_tag( photo.image.url(:small) ),
			                  photo.image.url(:full),
			                  title: photo.title,
			                  rel: "wedding",
			                  class: "fancybox"  %>
			      <% if current_user?(photo.user) %>
			        <%= link_to raw('<i class="fa fa-pencil"></i>'),
			                    photo,
			                    title: "Edit Photo",
			                    class: "edit" %>
			        <%= link_to raw('<i class="fa fa-trash-o"></i>'),
			                    photo,
			                    title: "Delete Photo",
			                    method: :delete, 
			                    data: { confirm: 'Are you sure?' },
			                    class: "delete" %>
			      <% end %>
			      <%= link_to raw('<i class="fa fa-link"></i>'),
			                  photo,
			                  title: "Share Photo Link",
			                  class: "share" %>
			      <p>Uploaded by <%= photo.user.name %></p>
			    </div>
			  <% end %>
			<%= will_paginate @photos %>
		<% end %>
	</div>
</div>

<% if current_user?(@user) %>
	<div class="content_right content_third user_details">
		<h1 class="user_title">My Details</h1>
		<p class="user_description">
		  <span>Name</span>
		  <span id="user_name"><%= @user.name %></span>
		</p>
		<p class="user_description">
		  <span>Email</span>
		  <span id="user_email"><%= @user.email %></span>
		</p>

	    <%= link_to raw('<i class="fa fa-pencil"></i>'),
	        "#",
	        title: "Edit Details",
	        class: "edit",
	        id: "photo_edit" %>
		<div id="edit_form">
			<%= render 'form' %>
		</div>
	</div>
<% end %>
<div id="link_share">
  <input name="clipboard-text" id="clipboard-text" class="link_share" type="text" value=""></input>
  <button id="target-to-copy" data-clipboard-target="clipboard-text">Click To Copy</button>
</div>