<h1>Create Album</h1>
<div class="content">
	<%= form_for @album do |f| %>
		<%= f.text_field :name, placeholder: 'Enter album name' %>
		<%= f.submit %>
		<span>Select some photos to add to your album</span>
		<div id="photos">
			<% @photos.each do |p| %>
				<div class="photo">
					<%= check_box_tag "album[photo_ids][]", p.id, @album.photo_ids.include?(p.id), id: dom_id(p), class: 'checkbox' %>
					<%= label_tag dom_id(p), (image_tag processed?(p), class: 'checkbox-photo') %>
				</div>
			<% end %>
		</div>
	<% end %>
</div>