<% content_for :title, @album.name.html_safe %>

<h1><%= @album.name %></h1>
<h2>Created by <%= @album.user.name %></h2>
<div class="content">
	<div id="photos">
		<% @album.photos.each do |p| %>
			<div class="photo">
				<%= link_to image_tag( processed?(p, :thumb) ),
                  processed?(p, :large),
                  title: p.title,
                  rel: "wedding",
                  class: "fancybox"  %>
        <%= link_to "delete", { id: @album.id, controller: "albums", action: "remove_photo", photo_id: p.id }, method: :delete %>
				<% if !p.title.nil? %>
				<p class="title"><%= p.title %></p>
				<% end %>
				<% if !p.description.nil? %>
				<p class="desc"><%= p.description %></p>
				<% end %>
			</div>
		<% end %>
	</div>
</div>