<% content_for :title, @album.name.html_safe %>

<h1><%= @album.name %></h1>
<h2>Created by <%= @album.user.name %></h2>
<div class="content">
	<div id="photos">
		<% @album.photos.each do |p| %>
			<div class="photo">
				<%= link_to image_tag( processed?(p, :thumb) ),
                  processed?(p, :large),
                  title: p.title,
                  rel: "wedding",
                  class: "fancybox"  %>
				<% if current_user?(@album.user) %>
				<%= link_to raw('<i class="fa fa-trash-o"></i>'),
					{ 
						id: @album.id, 
						controller: "albums", 
						action: "remove_photo", 
						photo_id: p.id 
					},
					title: "Delete Photo",
					method: :delete, 
					data: { confirm: 'Are you sure?' },
					class: "delete" %>
				<% end %>
				<% if !p.title.nil? && !p.title.empty? %>
				<p class="title"><%= p.title %></p>
				<% end %>
				<% if !p.description.nil? && !p.description.empty? %>
				<p class="desc"><%= p.description %></p>
				<% end %>
			</div>
		<% end %>
	</div>
	<a href="#" class="OpenModal" data-modal="modal_edit"></a>
	<div id="modal_edit">
		<%= form_for @album do |f| %>
			<%= f.label :name %>
			<%= f.text_field :name, value: @album.name %>
			<%= f.submit %>
			<span>Select some photos to add to your album</span>
			<div id="photos">
				<% @photos.each do |p| %>
					<div class="photo">
						<%= check_box_tag "album[photo_ids][]", p.id, @album.photo_ids.include?(p.id), id: dom_id(p), class: 'checkbox' %>
						<%= label_tag dom_id(p), (image_tag processed?(p, :tiny), class: 'checkbox-photo') %>
					</div>
				<% end %>
			</div>
		<% end %>
	</div>
</div>