<% content_for :title, @album.name.html_safe %>

<%= form_for @album do |f| %>
	<%= f.text_field :name, value: @album.name, class: "not_editing", disabled: true, size: nil %>
	<h2>Created by <%= @album.user.name %></h2>
	<div class="saveFile">
		<span><i class="fa fa-floppy-o"></i></span>
		<%= f.submit class: "fuButton" %>
	</div>
	<a href="#" class="addFile" title="Add photos to album"><i class="fa fa-plus"></i></a>
<% end %>
<% if current_user?(@album.user) %>
<%= link_to raw('<i class="fa fa-pencil"></i>'), '#', class: 'edit' %>
<%= link_to raw('<i class="fa fa-trash-o"></i> Delete Album'), @album, method: :delete, class: 'delete', id: 'delete_album' %>

<% end %>
<div class="content">
	<div id="photos">
		<% @album.photos.each do |p| %>
			<div class="photo">
				<%= link_to image_tag( processed?(p, :thumb) ),
                  processed?(p, :large),
                  title: p.title,
                  rel: "wedding",
                  class: "fancybox"  %>
				<%= link_to raw('<i class="fa fa-trash-o"></i>'),
					{ 
						id: @album.id, 
						controller: "albums", 
						action: "remove_photo", 
						photo_id: p.id 
					},
					title: "Delete Photo",
					method: :delete, 
					data: { confirm: 'Are you sure?' },
					class: "delete" %>
				<% if !p.title.nil? && !p.title.empty? %>
				<p class="title"><%= p.title %></p>
				<% end %>
				<% if !p.description.nil? && !p.description.empty? %>
				<p class="desc"><%= p.description %></p>
				<% end %>
			</div>
		<% end %>
	</div>
	<div id="album_edit">
		<%= form_for @album do |f| %>
		<div id="album_edit_top">
			<h3>Select some photos to add to your album</h3>
			<%= f.submit class: "update_album button" %>
		</div>
			<div id="photos">
				<% @photos.each do |p| %>
					<div class="photo">
						<%= check_box_tag "album[photo_ids][]", p.id, @album.photo_ids.include?(p.id), id: dom_id(p), class: 'checkbox' %>
						<%= label_tag dom_id(p), (image_tag processed?(p, :teeny), class: 'checkbox-photo') %>
					</div>
				<% end %>
			</div>
		<% end %>
	</div>
</div>