<h3 id="photo-<%= @photo.id %>-title"></h3>
<%= image_tag(photo.image.url(:small)) %>
<span id="photo-<%= @photo.id %>-title"></span>
<%= form_for photo, remote: true, action: 'update' do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.submit %>
<% end %>