<div class="photo_preview" id="photo_preview_<%= @photo.id %>">
	<%= image_tag(photo.image.url(:small)) %>
	<%= form_for photo, remote: true, action: 'update' do |f| %>
	<%= f.text_field :title, placeholder: "Click to edit title", id: "title_#{ @photo.id }" %>
	<%= f.text_area :description, placeholder: "Click to edit description", id: "description_#{ @photo.id }" %>
	<div class="fuButton_wrap">
		<div class="saveFile button">
			<span><i class="fa fa-floppy-o"></i></span>
			<%= f.submit class: "fuButton" %>
		</div>
 		<div class="deleteFile button">
			<%= link_to raw('<i class="fa fa-trash-o"></i>'), class: "fuButton", method: :delete %>
		</div>
	</div>
	<% end %>

<script type="text/javascript">
	$('#photo_preview_<%= @photo.id %> input, #photo_preview_<%= @photo.id %> textarea').bind("change paste keyup", function() {
		$('#photo_preview_<%= @photo.id %>').find('.saveFile').css('display','inline-block');
	});
</script>
</div>