<div class="photo_preview">
	<h3 id="photo-<%= @photo.id %>-title"></h3>
	<%= image_tag(photo.image.url(:small)) %>
	<%= form_for photo, remote: true, action: 'update' do |f| %>
	  <%= f.text_field :title, placeholder: "Title" %>
	  <%= f.submit %>
	<% end %>
</div>