<div class="photo_preview">
	<%= image_tag(photo.image.url(:small)) %>
	<%= form_for photo, remote: true, action: 'update' do |f| %>
	<%= f.text_field :title, placeholder: "Title" %>
	<%= f.text_area :description, placeholder: "Description" %>
	<div class="saveFile button">
		<span><i class="fa fa-floppy-o"></i></span>
		<%= f.submit class: "fuButton" %>
	</div>
	<div class="editFile button">
		<span><i class="fa fa-pencil"></i></span>
	</div>
	<div class="deleteFile button">
		<%= link_to raw('<i class="fa fa-trash-o"></i>'), class: "fuButton", method: :delete %>
	</div>
	<% end %>
</div>