<h1 id="view_switch"><a href="#" id="show_photos" class="active">All photos</a> &bull; <a href="#" id="show_albums">All albums</a></h1>
<div id="container">
  <section id="photos">
    <% if !@photos.empty? %>
    <%= will_paginate @photos, param_name: 'photo_page' %>
    <% @photos.each do |photo| %>
      <div class="photo single">
        <%= link_to image_tag( processed?(photo, :thumb) ),
                    processed?(photo, :large),
                    title: photo.title,
                    rel: "wedding",
                    class: "fancybox"  %>
        <% if current_user?(photo.user) %>
          <%= link_to raw('<i class="fa fa-pencil"></i>'),
                      photo,
                      title: "Edit Photo",
                      class: "edit" %>
          <%= link_to raw('<i class="fa fa-trash-o"></i>'),
                      photo,
                      title: "Delete Photo",
                      method: :delete, 
                      remote: true,
                      data: { confirm: 'Are you sure?' },
                      class: "delete" %>
        <% end %>
        <%= link_to raw('<i class="fa fa-link"></i>'),
                    photo,
                    title: "Share Photo Link",
                    class: "share" %>
        <p>Uploaded by <%= photo.user.name %></p>
      </div>
    <% end %>

    <%= will_paginate @photos, param_name: 'photo_page' %>
    <% else %>
    <p>Unfortunately there are no photos yet.</p>
    <% end %>
  </section>
  <section id="albums">
    <% if !@albums.empty? %>
    <%= will_paginate @albums, param_name: 'album_page' %>

    <% @albums.each do |a| %>
      <div class="photo album">
        <span class="title"><%= a.name %></span>
        <% if a.photo %>
          <%= link_to image_tag( processed?(a.photo, :thumb) ), album_path(a) %>
        <% else %>
          <%= link_to "missing album cover img", album_path(a) %>
        <% end %>
      </div>
    <% end %>
    <%= will_paginate @albums, param_name: 'album_page' %>
    <% else %>
    <p>Unfortunately there are no albums yet.</p>
    <% end %>
  </section>
</div>
<div id="link_share">
  <input name="clipboard-text" id="clipboard-text" class="link_share" type="text" value="">
  <button id="target-to-copy" data-clipboard-target="clipboard-text">Click To Copy</button>
</div>