<p id="notice"><%= notice %></p>
<table>
  
  <tr>
    <td><%= @photo.user.name %></td>
    <td><%= image_tag @photo.image.url(:small) %></td>
  </tr>

</table>


<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
