<p id="notice"><%= notice %></p>

<h2> <%= @photo.title %></h2>
<span><%= @photo.description %></span>
  
Uploaded by <%= @photo.user.name %>
<%= image_tag @photo.image.url(:full) %>


<%= link_to 'Back', photos_path %>