<% content_for :title, @photo.title %>

<p id="notice"><%= notice %></p>

<h2 id="photo-<%= @photo.id %>-title"> <%= @photo.title %></h2>
<span id="photo-<%= @photo.id %>-description"><%= @photo.description %></span>

<% if current_user?(@photo.user) %>

<%= render 'form' %>

<% end -%>
  
Uploaded by <%= @photo.user.name %>
<%= image_tag @photo.image.url(:full) %>


<%= link_to 'Back', photos_path %>