<!DOCTYPE html>
<html>
<head>
  <title>Grit</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    params[:controller] %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag params[:controller] %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header>
    <nav>
      <% if signed_in? %>
        <%= link_to "Sign out", signout_path, method: :delete %>
        <%= link_to "My Account", user_path(current_user) %>
        <%= link_to "Upload photo", new_photo_path %>
        <%= link_to "All Photos", photos_path %>
      <% end %>
    </nav>

    <%= link_ to "<h1>Grit and Drew's Wedding Album</h1>", root_path %>

  </header>

  

<%= yield %>

  <footer>
    <p>Designed and Developed by Alex and Ben</p>
  </footer>  
</body>
</html>
