<!DOCTYPE html>
<html>
<head>
  <title>Grit</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if signed_in? %>
    You are signed in as <%= link_to current_user.name, user_path(current_user) %>. <%= link_to "Sign out", signout_path, method: :delete %>.

  <% else %>
    You are not currently signed in <%= link_to "Sign in", signin_path %>
  <% end %>

<%= yield %>

</body>
</html>
